/* {
    border: solid black 1px;
} 
*/

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------- Common rules -------------------------------------------*/
h1 {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}

h2 {
  color: #bf925b;
  font-family: "Barlow Semi Condensed", sans-serif;
}

h3 {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #bf925b;
  text-decoration: none;
  transform: scale(1.1);
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

ul {
  font-family: "Poppins", sans-serif;
}

/*---------------------------------------------- Sections ------------------------------------------------*/
/* 1st section*/

/*alles*/
.header {
  width: 100%;
}

/*---------- MENUBAR ----------*/
.menu {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1/ 6;
  width: 100%;
  justify-self: center;
  align-self: flex-start;
  order: -11;
  padding: -5px;
  position: sticky;
  top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
}

.menu > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu > div > h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 20px;
  order: -1;
}

.menu > div > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  padding-bottom: 20px;
  margin-right: 50px;
  list-style: none;
  width: 100%;
}

/*----------HEADER (img + text)----------*/

.header {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  height: 100%;
  width: 100%;
  order: -12;
}

.header > div {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  width: 100%;
  order: -2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; /*kolla lite mer sen vilken det ska vara*/
}

.header > div > h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: right;
  align-self: center;
  flex: 1;
  margin-bottom: 100px;
  order: -1;
  width: 100%;
  text-shadow: 2px white;
  font-size: x-large;
  padding-left: -50px;
  padding-right: 400px;
}

.header > div > h3 {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  justify-self: right;
  align-self: center;
  order: -1;
  width: 100%;
  padding: 5px;
  padding-top: 20px;
  padding-left: -50px;
  padding-right: 400px;
  order: 0;
  text-shadow: white 1px;
  font-size: xx-large;
}

.header > div > p {
  display: flex;
  flex: 3;
  justify-content: space-between;
  align-items: center;
  justify-self: right;
  align-self: flex-start;
  order: -1;
  color: #fff;
  gap: 5px;
  width: 15%;
  order: 0;
  padding-left: 20px;
  padding-right: 400px;
  border-left: #bf925b solid 3px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.decoration {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/*----------button----------*/

.button {
  display: block;
  order: 0;
  width: 10%;
  align-self: right;
  margin-right: 80px;
  padding: 10px;
  color: #bf925b;
  border: #bf925b solid 2px;
  text-align: center;
  font-size: small;
  transition: all 0.2s ease-in-out;
  font-family: "Barlow Semi Condensed", sans-serif, bold;
}

.button > p {
  padding-top: 2px;
  color: #bf925b;
}

.button:hover {
  transform: scale(1.1);
  color: #dcd2bb;
  padding: 10px;
}

/* 2nd section*/

.services {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  width: 100%;
  background-color: #dcd2bb;
  direction: row;
}
.services > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.services > div > .box > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bf925b;
  padding: 30px;
}

.services > div > .box:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.services > div > .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  background-color: #bf925b;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.services > div > .box:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.services > div > .box:nth-child(4) {
  display: flex;
  flex-direction: column;
  background-color: #bf925b;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.services > div > .box > p {
  justify-self: center;
  align-self: center;
}

.serv_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  order: -33;
}
/*3rd section*/

.aboutus {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  width: 100%;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
}

.aboutus > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutus > div > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
}

.service_text {
  color: black;
  width: 50%;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcd2bb;
  border-image-repeat: round;
  width: 200px;
}

.calendar > div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 50px;
  width: 100px;
}

.calendar > div > h3 {
  font-size: 60%;
}

.calendar > div > p {
  /*Kolla detta igen--------------------------------------------------------------------------------*/
  font-size: 40%;
}
/*4th section*/

/*

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10%;
  height: 25%;
  background-color: #dcd2bb;
}

.review > div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #dcd2bb;
}

.review > div > span {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  width: 30%;
  height: 30%;
}

.review > div > span > img {
  display: grid;
  grid-row: 3 / 6;
  grid-column: 1 / 3;
  order: -1;
  margin-top: 10px;
}

.review > div > span > p {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 1 / 6;
}

.review > div > span > h2 {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  color: #141b25;
}

.review > div > span > h3 {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 4 / 5;
  color: #bf925b;
}
/* 5th section*/

/*

footer {
  background-color: #141b25;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

footer > ul > li {
  color: #fff;
}

footer > ul > label {
  color: #dcd2bb;
}

footer > ul:nth-child(1) {
  list-style: none;
}

footer > ul:nth-child(2) {
  list-style: inside;
}

footer > ul:nth-child(3) {
  list-style: inside;
}

footer > ul:nth-child(4) {
  list-style: inside url();
}
*/
