* {
    border: solid black 1px;
}

h1, h2, h3 {
    font-family: ;
}

p {
    font-family: ;
}

.header {
    background-color: #141B25;
}

.services {
    background-color: #dcd2bb;
}

.review {
    background-color: #dcd2bb;
}

footer {
    background-color: #141B25;
}